@import "./themes/blue";
@import "./themes/light";
@import "./variables";
@import "./reset";
html,
body,
#app {
 width: 100%;
 height: 100vh;
 background: var(--bg-color);
 color: var(--text-color);
}

.app {
 width: 100%;
 height: 100vh;
 background: var(--bg-color);
 color: var(--text-color);
}
.taskListArray {
 display: flex;
}

.taskListItem {
 margin: 20px;
}
