@import "./themes/blue";
@import "./themes/light";
@import "./variables";
@import "./reset";
html,
body,
#app {
 width: 100%;
 height: 100vh;
 background: var(--bg-color);
 color: var(--text-color);
}

.app {
 width: 100%;
 height: 100vh;
 background: var(--bg-color);
 color: var(--text-color);
}

.container {
 max-width: 1600px;
 margin: 0 auto;
 padding: 0 20px;
}
.taskListArray {
 display: flex;
}

.taskListItem {
 margin: 8px;
}
