* {
  margin: 0;
  padding: 0;

}

li {
  list-style-type: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-weight: 300;
}