.button {
 background: none;
 border: none;
 cursor: pointer;
}

.clear {
 border: none;
}
.outlined {
 border: 2px solid;
 padding: 6px 15px;
 border-radius: var(--b-rad-s);
 transition: background linear var(--transition-delay);
 transition: color linear var(--transition-delay);

 &.primary {
  border-color: var(--inverted-bg-color);
  &:hover {
   transition: background linear var(--transition-delay);
   transition: color linear var(--transition-delay);
   background: var(--inverted-bg-color);
   color: var(--bg-color);
  }
  &.active {
   background-color: var(--inverted-bg-color);
   color: var(--bg-color);
  }
 }
 &.inverted {
  color: var(--inverted-text-color);
  border-color: var(--bg-color);
  &:hover {
   transition: background linear var(--transition-delay);
   transition: color linear var(--transition-delay);
   background: var(--inverted-bg-color);
   color: var(--bg-color);
  }
  &.active {
   background-color: var(--inverted-bg-color);
   color: var(--bg-color);
  }
  &:hover {
   transition: background linear var(--transition-delay);
   transition: color linear var(--transition-delay);
   background: var(--bg-color);
   color: var(--inverted-bg-color);
  }
  &.active {
   background-color: var(--bg-color);
   color: var(--inverted-bg-color);
  }
 }
}
