.input {
 outline: none;
 border-radius: var(--b-rad-s);
 border: 1px solid var(--text-color);
 padding: 6px 10px;
 background: var(--dark-bg-color);
}
.error {
 border-color: var(--red-dark);
}
.errorMessage {
 color: var(--red-dark);
}
