.appAppLink {
  text-decoration: none;
  color: inherit;
  opacity: 1;

  &:hover {
    opacity: var(--opacity70);
  }
}

.clear-inverted {
  color: var(--text-color);
}

.outline {
  border: 2px solid var(--text-color);
  padding: 5px 10px;
  border-radius: var(--b-raduis-s);
}

.outline-inverted {
  color: var(--text-color);
  border: 2px solid var(--text-color);
  padding: 5px 10px;
  border-radius: var(--b-raduis-s);
}

.filled {
  background-color: var(--bg-color);
}
